body { margin: 0;}
/**/
#navigation-bar {
	background-color: #0a64eb;
	border-radius: 0;
}
.navbar-nav {
	float: none;
}
.navbar-nav li a {
	padding: 0;
	color: white !important;
}
#links {
	float: right;
}
.logo {
    float:left;
}
