.userBox {
    padding: 0 5px;
	margin: 0 3px;
	height: 175px;
}
.userBox > div > img {
	margin-bottom: 5px;
}

.userBox > div >  p {
	margin: 0;
}
.row {
    text-align: center;
}
#searchBox {
	width: 30%
}